<html>
  <head>
  	<strong>
  	Welcome to WebGuesser!
  </strong>
  </head>

 <body>
    <p>
     <%= message %>
    </p> 
  


	<form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
	</form>

  </body>
</html>



